.home-left-container {
    position: relative;
    width: 30%;
    border-right: 0.5px solid rgba(128, 128, 128, 0.267);
}

.home-left-header {
    height: 7%;
    background-color: #f6f6f6;
}

.home-left-notification-alert {
    background-color: hsl(198deg 98% 81%);
}

.home-left-search-bar {
    height: 6.5%;
    background-color: #f6f6f6;
}

.home-right-container {
    position: relative;
    width: 70%;
    height: 100%;
    background: url("https://preview.redd.it/qwd83nc4xxf41.jpg?width=640&crop=smart&auto=webp&s=e82767fdf47158e80604f407ce4938e44afc6c25");
    object-fit: cover;
}

.home-right-header {
    height: 7%;
    background-color: #ededed;
    text-align: left;
}

.home-right-message-section {
    position: absolute;
    height: 7%;
    width: 100%;
    background-color: #f0f0f0;
    bottom: 0;
}

.home-message-detail-container {
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
}

.home-message-detail-left {
    max-width: 45%;
    width: max-content;
    background-color: #fff;
    padding: 8px 13px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1), -1px -1px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    font-size: 14.5px;
    line-height: 19px;
    color: rgb(48, 48, 48);
    font-weight: 400;
}

.home-message-detail-right {
    max-width: 45%;
    width: max-content;
    background-color: #dcf8c6;
    padding: 8px 13px;
    border-radius: 10px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1), -1px -1px 20px rgba(0, 0, 0, 0.1);
    align-self: flex-end;
    margin-bottom: 10px;
    font-size: 14.5px;
    line-height: 19px;
    color: rgb(48, 48, 48);
    font-weight: 400;
}