.app-title-container {
    display: flex;
    flex-direction: row;
    align-self: center;
}

.app-title-logo {
    margin-top: 15px;
    height: 60px;
    width: 60px;
    object-fit: cover;
}

.app-title-heading {
    font-size: 28px;
    color: #525252;
    font-weight: 300;
}